#navBar {
  background-color: #E8AA24;
}
nav {
  margin-bottom: 3%;
}
body {
  font-family: 'Rubik', sans-serif;
}

/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
} */

.infoTitle {
  display:inline-block;margin-right:10px;
} 
.infoBlock {
  display:inline-block;
} 

#guestName {
  margin-top: 8%;
}

.canvasjs-chart-credit {
  display:none;
}

#footer-links-left {
  position: fixed;
  bottom: 5%;
  left: 25px;
} 

#footer-links-right {
  position: fixed;
  bottom: 5%;
  right: 45px;
}
.footer-image {
  border-radius: 50%;
  height: auto;
  width: 35px;
}

.tile {  
  width: 100%;
  margin-left: 30%;
  display: inline-block;
	box-sizing: border-box;
	padding: 20px;
  margin-bottom: 10px;
  background: #d3d3d3;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 780px) {
  #footer-links-left {
    position: static ;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
  } 
  
  #footer-links-right {
    position: static;
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  
}