@{
  Layout = "_Layout";
}

@using Guestly.ViewModels

@model CreateRoleViewModel

<h1>Register a new user</h1>
<hr />
@using (Html.BeginForm("CreateRole", "Administration", FormMethod.Post))
{
  <div class="row">
    <p class="col-md-4">
      @Html.Label("Role Name")
      @Html.TextBoxFor(user=> user.RoleName)
    </p>
  </div>
    <input type="submit" value="Create Role" class="btn btn-light" />
}