
@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
  <h1>Sign out?</h1>
  <hr>
  <p>Hello @User.Identity.Name! You are logged in. Click the button below to log out.</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
      <input type="submit" class="btn btn-outline-warning text-secondary" value="Log out" />
  }
}
else
{
  <h1>Login / Register</h1>
  <hr>
  <p>Log in to your existing account or register for a new account below.</p>
  <button type="button" class="btn btn-outline-warning text-secondary">@Html.ActionLink("Login", "Login", null,null, new{@class="text-secondary"})</button>
  <button type="button" class="btn btn-outline-warning text-secondary">@Html.ActionLink("Register", "Register", null, null, new{@class="text-secondary"})</button>
}